<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8" />
    <title>トップページ</title>
    <link rel="stylesheet"
    href="/static/bower_components/bootstrap/dist/css/bootstrap.css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" />
</head>
<body>
<div> ユーザー登録ページへようこそ </div>
    <div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="headingOne">
   			 <h1 class="panel-title">
			 	<a data-toggle="collapse" data-parent="#writeRecord" href="users" aria-expanded="true" aria-controls="collapseOne">
    				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				 		ユーザー一覧へ
				</a>
			</h1>
		</div>
	</div>

    <div class="panel panel-default">
   		<div class="panel-heading" role="tab" id="headingOne">
		 	<h1 class="panel-title">
		 		<a data-toggle="collapse" data-parent="#writeRecord" href="users/register" aria-expanded="true" aria-controls="collapseOne">
   					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			 			ユーザー登録へ
				</a>
			</h1>
		</div>
	</div>


</body>
</html>