<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8" />
    <title>トップページ</title>
    <link rel="stylesheet"
    href="/static/bower_components/bootstrap/dist/css/bootstrap.css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" />
</head>
<body>
<div> ユーザー情報管理ページへようこそ </div>
    <div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="headingOne">
   			 <h1 class="panel-title">
			 	<a href="users">
				 		ユーザー一覧を見る
	 				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</a>
			</h1>
		</div>
	</div>

    <div class="panel panel-default">
   		<div class="panel-heading" role="tab" id="headingOne">
		 	<h1 class="panel-title">
		 		<a href="users/register">
			 			ユーザー登録をする
		 			<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</a>
			</h1>
		</div>
	</div>

    <div class="panel panel-default">
  		<div class="panel-heading" role="tab" id="headingOne">
	 		<h1 class="panel-title">
		 		<a href="users/delete">
			 			ユーザー情報を削除する
		 			<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</a>
			</h1>
		</div>
	</div>


</body>
</html>