<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="ja">
    <meta charset="UTF-8" />
    <title>ユーザー消去</title>
    <link rel="stylesheet"
    href="/static/bower_components/bootstrap/dist/css/bootstrap.css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" />
</head>
<body>
<div> ユーザー情報削除ページ</div>
<table>
    <tr th:each="user :${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td>
        <form th:action="@{/users/delete}" method="post" th:object="${studentForm}">
        <input class = "btn btn-default" type="submit" name = "formm" value="削除"/>
        <input type = "hidden" name = "id" th:value = "${user.id}"/>
        <input type = "hidden" name = "name" th:value = "${user.name}"/>
        </form>
        </td>
</tr>
</table>
    <div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="headingOne">
   			 <h1 class="panel-title">
			 	<a href="http://localhost:8080/">
    				<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				 		トップページに戻る
				</a>
			</h1>
		</div>
	</div>
</body>
</html>