<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8" />
    <title>ユーザー一覧</title>
    <link rel="stylesheet"
    href="/static/bower_components/bootstrap/dist/css/bootstrap.css"
    th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" />
</head>
<body>
<div> ユーザー一覧ページ</div>
<table>
    <tr th:each="user :${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
    </tr>
</table>
    <div class="panel panel-default">
    	<div class="panel-heading" role="tab" id="headingOne">
   			 <h1 class="panel-title">
			 	<a href="http://localhost:8080/">
    				<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
				 		トップページに戻る
				</a>
			</h1>
		</div>
	</div>
</body>
</html>